nav{
    background-color: #e1dad5!important;
    margin-bottom: 0.2vw;
    height: auto!important;
    padding-top: 2vw!important;
    color: black!important;
}
.header-nav{
    background-color: #a34863!important;
    color: whitesmoke!important;
    padding-top: 0.6vw!important;
    padding-bottom: 0.6vw!important;
    font-size: 1.3vh!important;
}
.tabs {
    position: relative;
    overflow-x: unset!important;
    overflow-y: unset!important;
    height: 48px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;
}
.tabs.tabs-transparent .indicator{
    background-color: #a34863!important;
}
.tabs.tabs-transparent .tab a:hover, .tabs.tabs-transparent .tab a.active {
    color: #a34863!important;
}
.tabs.tabs-transparent .tab a:hover, .tabs.tabs-transparent .tab a {
    color: #29201f!important;
}

@media screen and (max-width: 992px) {
    #nav-slide{
        display: none;
    }
}
